# Ignore Python compiled backup
**/__pycache__
*.py[cod]

# Ignore virtual environments
venv/
.env/
*.app/app.log
*.env.*

# Ignore Jupyter Notebook checkpoints (Spyder uses Jupyter internally)
.ipynb_checkpoints/

# Ignore Spyder project backup
.spyproject/
*.spydata
*.pkl

# Ignore system backup
.DS_Store
Thumbs.db
.env

# Ignore logs and cache
logs/
*.log
*.cache/

# Ignore testing and coverage reports
.coverage
*.cover
*.pyc
*.pyo

# Ignore IDE settings
.vscode/
.idea/
